.display-flex {
  display: flex;
}
.nav-item-1 {
  list-style: none;
  margin-right: 30px;
  font-weight: 700;
  color: orange;
}
.nav-item-2 {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
}
.nav-item-3 {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
}
.nav-item-4 {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
}

.header-part {
  display: flex;
  justify-content: space-around;
}
.nav-link-1 {
  text-decoration: none;
  color: orange;
}
.nav-link-2 {
  text-decoration: none;
  color: skyblue;
}
.nav-link-3 {
  text-decoration: none;
  color: rgba(135, 207, 235, 0.932);
}
.nav-link-4 {
  text-decoration: none;
}
.btn {
  width: 180px;
  height: 40px;
  border-radius: 5px;
  color: rgb(244, 244, 244);
  background-color: orange;
}
.btn-2 {
  width: 180px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: black;
}
.header-logo {
  width: 60px;
  height: 60px;
}
.header-part {
  width: 1400px;
  height: 100px;
}
.container-1 {
  font-weight: 700;
  font-size: 3.5rem;
}
.main-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.div {
  margin-left: 50px;
}

.color-1 {
  color: orange;
}
.color-2 {
  color: rgb(98, 209, 253);
}
/* .fast-part {
  width: 200;
  height: 60;
} */
/* .test {
  background: linear-gradient(
    90deg,
    rgba(242, 148, 223, 0.51) 0%,
    rgb(255, 255, 255) 35%,
    rgb(233, 190, 237) 100%
  );
} */
.Curriculum {
  text-align: center;
  font-weight: 700;
  font-size: 2.8rem;
  margin-top: 60px;
  margin-bottom: 80px;
}
.kinter {
  display: flex;
  justify-content: center;
  text-align: center;
}
.year,
.elementary-school,
.middle {
  font-weight: 700;
  font-size: 1.5rem;
}
.middle-p {
  font-weight: 500;
  font-size: 1rem;
  color: rgba(128, 128, 128, 1);
}

.box-1,
.box-2,
.box-3 {
  width: 370px;
  height: 400px;
  /* background-color: rgb(245, 158, 220); */
  margin-left: 20px;
  text-align: center;
  margin-top: 50px;
  padding: 100px 20px;
}
.box-1 {
  background: linear-gradient(
    7deg,
    rgba(255, 255, 255, 1) 25%,
    rgba(180, 244, 246, 0.841) 100%
  );
  border-radius: 10px;
}
.box-2 {
  background: linear-gradient(
    7deg,
    rgba(255, 255, 255, 1) 25%,
    rgba(246, 238, 180, 0.841) 100%
  );
  border-radius: 10px;
}
.box-3 {
  background: linear-gradient(
    7deg,
    rgba(255, 255, 255, 1) 25%,
    rgba(214, 180, 246, 0.841) 100%
  );
  border-radius: 10px;
}

.btn-red-more-1 {
  background-color: white;
  color: rgb(100, 202, 242);
  width: 100px;
  height: 28px;
  border: none;
}
.btn-red-more-2 {
  width: 100px;
  height: 28px;
  background-color: white;
  color: orange;
  border: none;
}
.btn-red-more-3 {
  width: 100px;
  height: 28px;
  background-color: white;
  color: rgba(135, 0, 255, 1);
  border: none;
}
.bg-add {
  background-image: url(../assets/bg.png);
}
